.client
    padding-top: 172px
    padding-bottom: 185px
    background-color: #000
    &__content
        display: flex
        justify-content: space-between
    &__box
        max-width: 400px
        align-self: center
        &-title
            font-size: 30px
            letter-spacing: 0.6px
        &-subtitle
            margin-top: 30px
            color: #949494
            font-weight: 400
            line-height: 26px
            letter-spacing: 0.32px
        &-feedback
            margin-top: 49px
            display: flex
            justify-content: space-between
            &__block
                display: flex
                flex-direction: column
                align-self: flex-end
        &-name
            color: #282828
            font-size: 18px
            font-weight: 500
            line-height: 25.95px
        &-job
            color: #535353
            font-weight: 400
            line-height: 25.95px
    &__box2
        padding: 58px 71px
        width: 570px
        background-color: #fff
        border-radius: 20px
        &-text
            color: #646464
            font-weight: 400
            line-height: 26px
    &__slider-item
        position: relative
.dots__slider
    display: flex
    justify-content: space-between
    width: 86px
    position: absolute
    bottom: -10px
    left: 75%
    z-index: 2
    transform: translateX(-25%)
    &-item
        width: 27px
        height: 7px
        background-color: #b2b2b2
