.header
    padding-top: 40px
    background-color: #000
    &__block
        display: flex
        justify-content: space-between
    &__menu
        width: 430px
        align-self: center
        display: flex
        justify-content: space-between
        &-link
            font-weight: 400
            line-height: 20px
            &:hover
                border-top: 2px dashed #fff
