.promo
    height: 1350px
    clip-path: polygon(0% 0%, 100% 0, 100% 60%, 100% 100%, 0 60%)
    background-color: #000
    &__block
        display: flex
        justify-content: space-between
    &__text
        align-self: center
        text-align: center
        transform: translateY(-30%)
    &__title
        font-size: 60px
        font-weight: 500
        line-height: 65px
        letter-spacing: -1.5px
    &__descr
        max-width: 469px
        margin: 50px auto 40px auto
        font-size: 16px
        font-weight: 400
        line-height: 28px
    &__btn
        color: #fff
        line-height: 38px
