<section class="client">
    <div class="container">
        <div class="client__content">
            <div class="client__box">
                <div class="client__box-title">Happy Clients talk</div>
                <div class="client__box-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
            </div>
            <div>
                <div class="client__box2 client__slider">
                    <div class="client__slider-item">
                        <div class="client__box2-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </div>
                        <div class="client__box-feedback">
                            <div class="client__box-feedback__block">
                                <div class="client__box-name">
                                    Hira Doe
                                </div>
                                <div class="client__box-job">Web Developer</div>
                            </div>

                            <img src="assets/img/avatar-sm.jpg" alt="">

                        </div>
                    </div>
                    <div class="client__slider-item">
                        <div class="client__box2-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </div>
                        <div class="client__box-feedback">
                            <div class="client__box-feedback__block">
                                <div class="client__box-name">
                                    Hira Doe
                                </div>
                                <div class="client__box-job">Web Developer</div>
                            </div>

                            <img src="assets/img/avatar-sm.jpg" alt="">

                        </div>
                    </div>
                    <div class="client__slider-item">
                        <div class="client__box2-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </div>
                        <div class="client__box-feedback">
                            <div class="client__box-feedback__block">
                                <div class="client__box-name">
                                    Hira Doe
                                </div>
                                <div class="client__box-job">Web Developer</div>
                            </div>

                            <img src="assets/img/avatar-sm.jpg" alt="">

                        </div>
                    </div>
                </div>
                <div class="dots__slider">
                    <div class="dots__slider-item"></div>
                    <div class="dots__slider-item"></div>
                    <div class="dots__slider-item"></div>
                </div>
            </div>

        </div>
    </div>
</section>
