<div class="contact">
    <div class="container">
        <div class="contact-block">
            <div class="contact__info">
                <div class="contact__info-title">Contact Info:</div>
                <div class="contact__info-text">Praesent interdum congue mauris, et fringilla lacus pel vitae. Quisque nisl mauris, aliquam eu ultrices vel, consevitae sapien at imperdiet risus. Quisque cursus risus id.fermentum, in auctor quam consectetur.</div>
                <div class="contact__info-address contact__info-address-1">Address:  10111 Santa Monica Boulevard, LA</div>
                <div class="contact__info-line"></div>
                <div class="contact__info-address">Phone: +44 987 065 908</div>
                <div class="contact__info-line"></div>
                <div class="contact__info-address">Email: info@Example.com</div>
                <div class="contact__info-line"></div>
                <div class="contact__info-address">Fax: +44 987 065 909</div>
                <div class="contact__info-line"></div>

            </div>
            <div class="contact__form">
                <form>
                    <div class="contact__form-block">
                        <input type="text" class="contact__form-name" placeholder="Your Name"/>
                        <input type="text" class="contact__form-name" placeholder="Your Email"/>
                    </div>
                    
                    <input type="text" class="contact__form-phone" placeholder="Phone"/>
                    <textarea class="contact__form-area" placeholder="Your message"></textarea>
                    <button class="contact__form-btn" type="submit">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer__copyright">Copyright © 2019 . All rights Reserved.</div>
</footer>
