<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__logo">
                <img src="assets/img/logo.png" alt="">
            </div>
            <ul class="header__menu">
                <li><a class="header__menu-link" href="#">Home</a></li>
                <li><a class="header__menu-link" href="#">Features</a></li>
                <li><a class="header__menu-link" href="#">About</a></li>
                <li><a class="header__menu-link" href="#">Services</a></li>
                <li><a class="header__menu-link" href="#">Projects</a></li>
                <li><a class="header__menu-link" href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</header>
