<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__logo">
                <img src="assets/img/logo.png" alt="">
            </div>
                <ul class="header__menu">
                    <li><a class="header__menu-link" href="#promo">Home</a></li>
                    <li><a class="header__menu-link" href="#features">Features</a></li>
                    <li><a class="header__menu-link" href="#aboutme">About</a></li>
                    <li><a class="header__menu-link" href="#services">Services</a></li>
                    <li><a class="header__menu-link" href="#projects">Projects</a></li>
                    <li><a class="header__menu-link" href="#blog">Blog</a></li>
                </ul>      
            <div class="header__hamburger">
                <span class="header__hamburger-span"></span>
                <span class="header__hamburger-span"></span>
                <span class="header__hamburger-span"></span>
            </div>
        </div>
    </div>
</header>
