<section class="mynews">
    <div class="container">
        <div class="mynews__title">My News and Projects</div>
        <div class="mynews__subtitle">Etiam id augue sollicitudin ex ultrices accumsan id eget urna. Duis ut vestibulum arcu. Ut congue facilisis </div>
        <div class="mynews__projects-block">
            <div class="mynews__projects-main">
                <img class="mynews__projects-img" src="assets/img/typewriter.jpg" alt="">
                <div class="mynews__projects-main_sub">
                    <div class="mynews__timestamp">
                        <div class="mynews__timestamp-date">Oruna</div>
                        <div class="mynews__timestamp-date">09:31 AM</div>
                        <div class="mynews__timestamp-date">APR 16, 2018</div>
                    </div>
                    <div class="mynews__projects-title">Quisque sed ligula quam. Fusce non massa condimentum tellus.</div>
                    <div class="mynews__projects-subtitle">Mauris eu ligula at ju risque mollis ut at orci. Cras augue nisi, malesuada quis gravida eu, ornare quis neque. Ut sed.</div>
                    <div class="mynews__projects-readmore"><a class="mynews__projects-link" href="#">Read More</a></div>
                </div>


            </div>
            <div class="mynews__projects-subblock">
                <div class="mynews__projects-sub">
                    <img class="mynews__projects-sub-img" src="assets/img/girl.jpg" alt="">
                    <div class="mynews__projects-sub-text">
                        <div class="mynews__timestamp">
                            <div class="mynews__timestamp-date">Mithila</div>
                            <div class="mynews__timestamp-date">06:20 PM</div>
                            <div class="mynews__timestamp-date">JUN 20, 2018</div>
                        </div>
                        <div class="mynews__projects-title">Vivamus vulputate laeet augue odio mollis acdks.</div>
                        <div class="mynews__projects-subtitle">Nunc tortor erat, pulvinar et odio id, dictum bibendu mauris. Nulla at turpis varius, tristique metus sit amet, laoreet est. Etiam quis libero.</div>
                        <div class="mynews__projects-readmore"><a class="mynews__projects-link" href="#">Read More</a></div>
                    </div>

                </div>
                <div class="mynews__projects-sub">
                    <img class="mynews__projects-sub-img" src="assets/img/sketch.jpg" alt="">
                    <div class="mynews__projects-sub-text">
                        <div class="mynews__timestamp">
                            <div class="mynews__timestamp-date">Robocop</div>
                            <div class="mynews__timestamp-date">06:20 PM</div>
                            <div class="mynews__timestamp-date">JUN 20, 2018</div>
                        </div>
                        <div class="mynews__projects-title">Phasellus nunc non ligula venenatis vestibulum. sit amet metu eros</div>
                        <div class="mynews__projects-subtitle">Maecenas maximus erat quis lectus luctus, vel porta nulla commodo. Donec felis nulla, faucibus quis metus eget, sagittis consectetur </div>
                        <div class="mynews__projects-readmore"><a class="mynews__projects-link" href="#">Read More</a></div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
