<div class="partners">
    <div class="container">
        <div class="partners__slider">
            <div class="partners__slider-item">
                <img src="assets/img/partner1.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner2.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner3.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner4.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner1.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner2.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner3.png" alt="">
            </div>
            <div class="partners__slider-item">
                <img src="assets/img/partner4.png" alt="">
            </div>
        </div>

    </div>
    
</div>
