<div class="portfolio">
    <div class="container">
        <div class="portfolio__title">My Portfolio</div>
        <div class="portfolio__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
<div class="portfolio__menu-block">
    <ul class="portfolio__menu">
            <li class="portfolio__menu-item"><a class="portfolio__menu-link" href="#">All</a></li>
            <li class="portfolio__menu-item"><a class="portfolio__menu-link" href="#">Graphics</a></li>
            <li class="portfolio__menu-item"><a class="portfolio__menu-link" href="#">Web</a></li>
            <li class="portfolio__menu-item"><a class="portfolio__menu-link" href="#">Marteting</a></li>
            <li class="portfolio__menu-item"><a class="portfolio__menu-link" href="#">Photoshop</a></li>
            <li class="portfolio__menu-item"><a class="portfolio__menu-link" href="#">Illustrator</a></li>
    </ul>
    </div>
        <div class="portfolio__photos">
            <div class="portfolio__photos-item">
                <img class="portfolio__photos-img" src="assets/img/portfolio1.jpg" alt="">
                <div class="portfolio__photos-back"></div>
                <img class="portfolio__photos-frame" src="assets/img/frame.png" alt="">
                <img class="portfolio__photos-glasses" src="assets/img/glasses.png" alt="">
            </div>
            <div class="portfolio__photos-item">
                <img class="portfolio__photos-img" src="assets/img/portfolio2.jpg" alt="">
                <div class="portfolio__photos-back"></div>
                <img class="portfolio__photos-frame" src="assets/img/frame.png" alt="">
                <img class="portfolio__photos-glasses" src="assets/img/glasses.png" alt="">
            </div>
            <div class="portfolio__photos-item">
                <img class="portfolio__photos-img" src="assets/img/portfolio3.png" alt="">
                <div class="portfolio__photos-back"></div>
                <img class="portfolio__photos-frame" src="assets/img/frame.png" alt="">
                <img class="portfolio__photos-glasses" src="assets/img/glasses.png" alt="">
            </div>
            <div class="portfolio__photos-item">
                <img class="portfolio__photos-img" src="assets/img/portfolio4.png" alt="">
                <div class="portfolio__photos-back"></div>
                <img class="portfolio__photos-frame" src="assets/img/frame.png" alt="">
                <img class="portfolio__photos-glasses" src="assets/img/glasses.png" alt="">
            </div>
            <div class="portfolio__photos-item">
                <img class="portfolio__photos-img" src="assets/img/portfolio5.png" alt="">
                <div class="portfolio__photos-back"></div>
                <img class="portfolio__photos-frame" src="assets/img/frame.png" alt="">
                <img class="portfolio__photos-glasses" src="assets/img/glasses.png" alt="">
            </div>
        </div>
    </div>
</div>
