<div class="promo">
        <div class="container">
            <div class="promo__block">
                <div class="promo__text">
                    <div class="promo__title">I am Jack Barboza</div>
                    <div class="promo__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </div>
                    <a class="btn promo__btn" href="#">
                        <span class="promo__btn-span">Download</span> CV
                    </a>

                </div>
                <div class="promo__avatar">
                    <img src="assets/img/avatar.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="promo__field">
        <div class="promo__field-item">
            <div class="promo__field-title">Front End Development</div>
            <div class="promo__field-text">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tem por incididunt ut labore.</div>
            <div class="promo__field-more">READ MORE</div>
        </div>
        <div class="promo__field-item">
            <div class="promo__field-title">UI-UX Design for web</div>
            <div class="promo__field-text">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tem por incididunt ut labore.</div>
            <div class="promo__field-more">READ MORE</div>
        </div>
        <div class="promo__field-item">
            <div class="promo__field-title">Web Development</div>
            <div class="promo__field-text">Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tem por incididunt ut labore.</div>
            <div class="promo__field-more">READ MORE</div>
        </div>
    </div>
</div>
<img class="promo__ellipse" src="assets/img/ellipse.svg" alt="">
