<div class="services">
    <div class="container">
        <div class="services__title">Services I Provide..</div>
        <div class="services__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>

        <!-- services block start -->
        <div class="services__block">
            <div class="services__block-item">
                <img class="services__block-icon" src="assets/img/pc-icon.png" alt="">
                <div class="services__block-title">Photography</div>
                <div class="services__block-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</div>
            </div>

            <div class="services__block-item">
                <img class="services__block-icon" src="assets/img/pc-icon.png" alt="">
                <div class="services__block-title">Branding</div>
                <div class="services__block-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</div>
            </div>

            <div class="services__block-item">
                <img class="services__block-icon" src="assets/img/pc-icon.png" alt="">
                <div class="services__block-title">Logo Design</div>
                <div class="services__block-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</div>
            </div>

            <div class="services__block-item">
                <img class="services__block-icon" src="assets/img/pc-icon.png" alt="">
                <div class="services__block-title">Web Design</div>
                <div class="services__block-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</div>
            </div>

            <div class="services__block-item">
                <img class="services__block-icon" src="assets/img/pc-icon.png" alt="">
                <div class="services__block-title">Web Development</div>
                <div class="services__block-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</div>
            </div>

            <div class="services__block-item">
                <img class="services__block-icon" src="assets/img/pc-icon.png" alt="">
                <div class="services__block-title">Photography</div>
                <div class="services__block-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</div>
            </div>
        </div>
        <!-- services block end -->
    </div>
</div>
